body {
    background-color: white;
}
.form {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;   
}
.formst {
    border:  double black;
    padding: 20px;
    background-color: white;
    width: 700px;
    margin-top: 72px;
    margin-left: 70px;
}